@tailwind utilities;

/* globals.css */
.font-handwritten {
  font-family: 'Rock Salt', cursive !important;
}

body {
  @apply font-sans;
  margin: 0;
  padding: 0;
  background-color: black;
}

html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent;
}
